/*******************************************************************************
 * Themes
 ******************************************************************************/
 
$thingy-light : "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300369f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"; 
$thingy-dark : "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232698ba'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e";
:root {
  --global-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #{$blue-color-dark};
  --global-hover-color: #{$blue-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #{$grey-color-dark};
  --global-my-box-color: #{$white-color};
  --global-my-box-text-color: #{$black-color};
  --global-my-border-color : rgba(0,0,0,0.125);
  // overrides bootstraps accordion glyph on the projects page 
  --global-thingy : #{url($thingy-light)};


  --bs-font-sans-serif : "Roboto" !important;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$light-cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-icon-color: #{$grey-color-light};
  --global-my-box-color: #{$grey-color-light};
  --global-my-box-text-color: #{$grey-color-dark};
  --global-my-border-color : #{fade-out($grey-color-light, 0.875)};
  --global-thingy-color : #{$cyan-color};

  --global-thingy : #{url($thingy-dark)};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
